@import './Variables.scss';

.chat-header{
    box-sizing: border-box;
    display: flex;
    padding: 0 15px;
    align-items: center;
    background-color: $title-block;
    border-bottom: 1px solid $border;
    &-title{
        font-family: $chat-font;
        color: #585858;
        padding-left: 30px;
    }
}