@import './Variables.scss';

.chats{
  overflow-y: hidden;
}
.chat-card {
  padding: 10px;
  box-sizing: border-box;
  background: $contacts-color;
  border-bottom: 1px solid $border;
  max-width: 35vw;
  min-width: fit-content;
  display: flex;
  flex-grow: 1;
  align-items: center;
  &:hover{
    cursor: pointer;
    background: #eee;
  }
}

.list-header{
    font-family: $chat-font;
    color: #62b9e6;
    font-weight: 400;    
    padding: 0.83em 15px;
    margin: 0;
    border-bottom: 1px solid $border;

}
