@import "./Variables.scss";

body {
  margin: 0;
}

.ContactBoard {
  box-sizing: border-box;
  height: 100%;
}

.contact-list-header {
  box-sizing: border-box;
  padding-left: 10px;
  height: 25vh;
  width: 35vw;
  border-bottom: 1px solid $border;
  background-color: $title-block;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
