@import "./Variables.scss";

.MessagePreview {
  width: 20vw;
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
  padding: 10px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  &-Contact {
    margin: 2px;
    font-family: $chat-font;
    font-weight: 400;
    color: #414753;
  }
  &-Message {
    margin: 2px;
    font-family: $chat-font;
    color: #9a9d9c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-Date {
    position: absolute;
    top: 0;
    right: 0;
    font-family: $chat-font;
    color: #9a9d9c;
    font-size: 13px;
  }
}
